/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/resources/slack_export/
/resources/test_export/
/resources/config/private.edn
/resources/public/
/resources/release/
/.shadow-cljs/
/node_modules/
